#Python specific
*.pyc

#Kwrite/Gedit/Other crapapps making backups
*~

#Eclipse
.project
.pydevproject
.settings

#Patch files
*.patch

#Personal
saveddata/

#PyCharm
.idea/

#Pyfa file
pyfaFits.html
build/
